body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.capa1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 0 150px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.capa2 {
    padding: 150px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.texto {
    max-width: 500px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.texto-secundario {
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px 0;
}

.boton {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #3882f6;
    padding: 8px 25px;
}

img {
    max-width: 50%;
    height: auto;
}

.capa3 {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    padding: 40px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    height: 70px;
}

.cartas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 52px;
    max-width: 200px;
}

.carta {
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.contenedor {
    max-width: 200px;
    text-align: center;
}

.subtext {
    padding: 10px;
}

.capa4 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.textoCapa4 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    max-width: 900px;
}

.autor {
    align-self: flex-end;
    font-size: 30px;
    font-weight: bolder;
}

.capa5{
    padding: 100px 150px;
}

.container {
    background-color: #3882f6;
    padding: 50px 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.action-header {
    font-weight: 900;
    font-size: 25px;
}

.action-text {
    font-size: 20px;
    font-weight: 100;
}

.boton2 {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 10px;
    width: 150px;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 72px;
    font-size: 24px;
}